### <div id="py"> Working with different file formats </div>



- JSON (java script object notation)
- CSV (Command Seperated Values)
- Excel
- Avro

### Data comes in various forms

As a data person you will deal with various type of data and it's important to learn how to handle these file formats



## Working in JSON files

***
Since its inception, JSON has quickly become the de facto standard for information exchange. 

Chances are you’re here because you need to transport some data from here to there. Perhaps you’re gathering information through an API or storing your data in a document database. 

One way or another, you’re up to your neck in JSON, and you’ve got to Python your way out.

## A (Very) Brief History of JSON

JSON stangs for JavaScript Object Notation was inspired by a subset of the JavaScript programming language dealing with object literal syntax. 

Ultimately, the community at large adopted JSON because it’s easy for both humans and machines to create and understand.

### Look, it’s JSON!
```
{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}
```

### Does this look similar to something?

YES! Python **dictionary!**

### Writing JSON files

In [1]:
import json

In [2]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [3]:
with open("C:/Users/suhas j c/OneDrive/Desktop/suhas/data/data_file.json", "w") as write_file:
    json.dump(data, write_file)

 Note that `dump()` takes two positional arguments:
 1. the data object to be serialized, and
 2. the file-like object to which the bytes will be written.

### Reading JSON files

In [5]:
with open("C:/Users/suhas j c/OneDrive/Desktop/suhas/data/data_file.json", "r") as read_file:
    data = json.load(read_file)

In [6]:
type(data)

dict

In [7]:
data

{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}

### You can also read JSON as DataFrame in Pandas

In [8]:
import pandas as pd

jsonStr = '''{"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }'''

# Convert JSON to DataFrame Using read_json()
df2 = pd.read_json(jsonStr, orient ='index')
print(df2)

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

C:\Users\suhas j c\AppData\Local\Temp\ipykernel_12884\1382010807.py:9: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_json(jsonStr, orient ='index')

### Convert Dict To DF

In [9]:
data['president']

{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}

In [10]:
import pandas as pd

df3 = pd.DataFrame.from_dict(data, orient ='index')

In [11]:
df3

                        name       species
president  Zaphod Beeblebrox  Betelgeusian

In [12]:
# to write json - pd.to_json(your.json)

## Working with CSV files

A CSV file (Comma Separated Values file) is a type of plain text file that uses specific structuring to arrange tabular data. 

It’s a plain text file that has data separated by commas!

```
column 1 name,column 2 name, column 3 name
first row data 1,first row data 2,first row data 3
second row data 1,second row data 2,second row data 3
...
```

In [14]:
df = pd.read_csv('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/hrdata.csv', index_col='Name')

In [36]:
df.head()

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7

In [15]:
df = pd.read_csv('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/hrdata.csv', index_col='Name', parse_dates=['Hire Date'])

C:\Users\suhas j c\AppData\Local\Temp\ipykernel_12884\3641946294.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/hrdata.csv', index_col='Name', parse_dates=['Hire Date'])

In [16]:
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [17]:
df.to_csv('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/hrdata_modified.csv')

## Working with Excel Files

Excel spreadsheets are one of those things you might have to deal with at some point. Either it’s because your boss loves them or because marketing needs them, and you might have to learn how to work with spreadsheets.

Many companies still prefer using Excel files for their data storage and analysis, as a data expert you should know how to handle these files programatically!

To work with Excel files we have package in python `openpyxl`

In [18]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------------------------------------ --- 225.3/250.0 kB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 5.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

### Basics of Excel

In [25]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="C:/Users/suhas j c/OneDrive/Desktop/suhas/data/hello_world.xlsx")

In [29]:
#Reading excel file

from openpyxl import load_workbook
workbook = load_workbook(filename="C:/Users/suhas j c/OneDrive/Desktop/suhas/data/sample-xlsx-file.xlsx")
workbook.sheetnames
['Sheet 1']

['Sheet 1']

In [30]:
sheet = workbook.active

In [31]:
sheet

In [32]:
sheet.title

'Employee'

In [33]:
sheet["A1"]

In [34]:
sheet["A2"].value

'Rajeev Singh'

In [35]:
sheet.cell(row=10, column=6)

In [36]:
sheet.cell(row=3, column=3).value

datetime.datetime(1965, 1, 13, 0, 0)

In [37]:
sheet["A1:C2"]

((<Cell 'Employee'.A1>, <Cell 'Employee'.B1>, <Cell 'Employee'.C1>),
 (<Cell 'Employee'.A2>, <Cell 'Employee'.B2>, <Cell 'Employee'.C2>))

In [38]:
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department', None)
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering', None)
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales', None)
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR', None)
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing', None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)

### You can read Excel file as DataFrame using Pandas

In [40]:
excel_df = pd.read_excel('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/sample-xlsx-file.xlsx')

In [41]:
excel_df

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [42]:
excel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4 non-null      object
 1   Email          4 non-null      object
 2   Date Of Birth  4 non-null      datetime64[ns]
 3   Salary         4 non-null      int64
 4   Department     4 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 288.0+ bytes

In [43]:
excel_df['year'] = excel_df['Date Of Birth'].dt.year
excel_df

,Name,Email,Date Of Birth,Salary,Department,year
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering,1992
1,John Doe,john@example.com,1965-01-13,1300000,Sales,1965
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR,1986
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing,1994

In [45]:
excel_df.to_excel('C:/Users/suhas j c/OneDrive/Desktop/suhas/data/sample-xlsx-file-modifeid.xlsx')

## Working with AVRO

Apache Avro is a data serialization format. We can store data as `.avro` files on disk. 

Avro files are typically used with Spark but Spark is completely independent of Avro.

Avro is a row-based format that is suitable for evolving data schemas. One benefit of using Avro is that schema and metadata travels with the data.

If you have an .avro file, you have the schema of the data as well. 

The Apache Avro Specification provides easy-to-read yet detailed information.

In [46]:
pip install avro-python3

Collecting avro-python3
  Downloading avro-python3-1.10.2.tar.gz (38 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: avro-python3
  Building wheel for avro-python3 (pyproject.toml): started
  Building wheel for avro-python3 (pyproject.toml): finished with status 'done'
  Created wheel for avro-python3: filename=avro_python3-1.10.2-py3-none-any.whl size=44035 sha256=cf41d6a606086292780561669f8da0b7fac74cc263dcc86d8f2c3662a612a75a
  Stored in directory: c:\users\suhas j c\appdata\local\pip\cache\wheels\bc\85\62\6cdd81c56f923946b401cecff38055b94c9b766927f7d8ca82
Successfully built avro-python3
Installing collected packages: avro-python3
Successfully installed avro-python3-1.10.2
Note: you may need to restart the kernel to use updated packages.

In [47]:
# Python 3 with `avro-python3` package available
import copy
import json
import avro
from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [48]:

# Note that we combined namespace and name to get "full name"
schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

# Parse the schema so we can use it to write the data
schema_parsed = avro.schema.Parse(json.dumps(schema))

In [49]:
schema_parsed

In [50]:

# Write data to an avro file
with open('users.avro', 'wb') as f:
    writer = DataFileWriter(f, DatumWriter(), schema_parsed)
    writer.append({'name': 'Pierre-Simon Laplace', 'age': 77})
    writer.append({'name': 'John von Neumann', 'age': 53})
    writer.close()

In [51]:

# Read data from an avro file
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

print(f'Schema that we specified:\n {schema}')
print(f'Schema that we parsed:\n {schema_parsed}')
print(f'Schema from users.avro file:\n {schema_from_file}')
print(f'Users:\n {users}')

Schema that we specified:
 {'name': 'avro.example.User', 'type': 'record', 'fields': [{'name': 'name', 'type': 'string'}, {'name': 'age', 'type': 'int'}]}
Schema that we parsed:
 {"type": "record", "name": "User", "namespace": "avro.example", "fields": [{"type": "string", "name": "name"}, {"type": "int", "name": "age"}]}
Schema from users.avro file:
 {'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}
Users:
 [{'name': 'Pierre-Simon Laplace', 'age': 77}, {'name': 'John von Neumann', 'age': 53}]

### Reading Avro Using Pandas

Avro format simply requires a schema and a list of records. We don’t need a dataframe to handle Avro files. 

However, we can write a `pandas` dataframe into an Avro file or read an Avro file into a `pandas` dataframe. 

To begin with, we can always represent a dataframe as a list of records and vice-versa

In [52]:
pip install pandavro

Collecting pandavro
  Downloading pandavro-1.8.0-py3-none-any.whl.metadata (8.5 kB)
Collecting fastavro<2.0.0,>=1.5.1 (from pandavro)
  Downloading fastavro-1.9.4-cp310-cp310-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: pandas>=1.1 in c:\users\suhas j c\appdata\local\programs\python\python310\lib\site-packages (from pandavro) (2.1.4)
Requirement already satisfied: numpy>=1.15.4 in c:\users\suhas j c\appdata\local\programs\python\python310\lib\site-packages (from pandavro) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\suhas j c\appdata\roaming\python\python310\site-packages (from pandas>=1.1->pandavro) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\suhas j c\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1->pandavro) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\suhas j c\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1->pandavro) (2022.2)
Requirement already satisfied: six>=1.5 in c:\users\suhas j c\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas>=1.1->pandavro) (1.16.0)
Downloading pandavro-1.8.0-py3-none-any.whl (8.8 kB)
Downloading fastavro-1.9.4-cp310-cp310-win_amd64.whl (497 kB)
   ---------------------------------------- 0.0/497.2 kB ? eta -:--:--
   -------------------- ------------------- 256.0/497.2 kB 5.2 MB/s eta 0:00:01
   ---------------------------------------- 497.2/497.2 kB 7.9 MB/s eta 0:00:00
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-1.9.4 pandavro-1.8.0
Note: you may need to restart the kernel to use updated packages.

In [53]:
import copy
import json
import pandas as pd
import pandavro as pdx
from avro.datafile import DataFileReader
from avro.io import DatumReader

In [54]:
# Data to be saved
users = [{'name': 'Pierre-Simon Laplace', 'age': 77},
         {'name': 'John von Neumann', 'age': 53}]
users_df = pd.DataFrame.from_records(users)
print(users_df)

                   name  age
0  Pierre-Simon Laplace   77
1      John von Neumann   53

In [55]:
pdx.to_avro('data/users_test.avro', users_df)

FileNotFoundError: [Errno 2] No such file or directory: 'data/users_test.avro'

In [ ]:
# Read the data back
users_df_redux = pdx.from_avro('data/users_test.avro')
print(type(users_df_redux))
# <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Check the schema for "users.avro"
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    reader.close()
print(schema_from_file)